@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

:root {
  --n: 0px;
  --s: 10px;
  --m: 15px;
  --fxs: 11px;
  --fs: 13x;
  --fm: 18px;
  --fl: 30px;
  --fxl: 90px;
}

body {
  margin: 0;
  font-family: 'Balsamiq Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.black {
  color: #333;
}

.grey {
  color: #999;
}

.container {
  width: 100%;
  display: flex;
}

.center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
}

.col {
  flex-direction: column;
}

.col-1 {
  width: 10%;
}

.col-2 {
  width: 20%;
}

.col-7 {
  width: 70%;
}

.header {
  background-color: rgb(51, 51, 51);
  height: 40vh;
  color: white;
  padding-left: 40px;
}
h1 {
  font-size: var(--fxl);
  margin: 0px;
}

h3 {
  font-size: var(--fl);
  margin: 0px;
}

.fs {
  font-size: var(--fs);
}

.fm {
  font-size: var(--fm);
}

.fl {
  font-size: var(--fl);
}

.mn {
  margin: var(--n);
}

.mls {
  margin-left: var(--s);
}

.mlm {
  margin-left: var(--m);
}

.mrs {
  margin-right: var(--s);
}

.mrm {
  margin-right: var(--m);
}

.underscore {
  border-bottom: 1px solid #aaa;
}

.news:hover {
  background-color: #fafafa;
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
